.aku{
    color: coral;
    font-family: 'Times New Roman';
}
.sayang{
    color: darkblue;
    font-family: 'Times New Roman';
}

#kamu{
    color: darkgoldenrod;
    font-family: initial;
}
#hmm{
    color: darkred;
    font-family: initial;
}